
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;600;700&family=Bodoni+Moda:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Syncopate:wght@400;700&display=swap');

//     font-family: 'Bodoni Moda', serif;

// font-family: 'Bai Jamjuree', sans-serif;

// font-family: 'Syncopate', sans-serif;

$bg-color: #f5f0ec;
// $font-main: 'Syncopate', sans-serif;

body {
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: $bg-color;
    cursor: none;

}

.telefon {
    display: none;
    
}


.main-container {
    padding: 5vw;
}

section {
    padding: 100px 0;
    .section-header {
        margin-bottom: 50px;
    }
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: #191919;
    color: #dbd8d6;

    h1 {
        font-size: 1.5vw;
        text-transform: uppercase;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
    }
    h2 {
        font-size: 1.5vw;
        text-transform: uppercase;
        font-family: 'Bodoni Moda', serif;
        font-style: italic;
        margin-top: 10px;
    }
}

.absolute {
    position: fixed;
    inset: 0;
    background-color:black;
    z-index: 1;
}

///// MEDIA QUERIES:
@media (max-width: 966px) {
    body {
        background-color: #ed6a5e;
        color: #dbd8d6;
            .telefon {
                height: 100vh;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 2rem;
                    text-transform: uppercase;
                    text-align: center;
                    font-family: 'Bai Jamjuree', sans-serif;
                    font-weight: 600;

                }
            }
        
    }
}

