.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Syncopate', sans-serif;
    color:#464646;
    font-weight:600;
    text-transform: uppercase;
}