.footer {
    text-align:center;
    padding-top: 70px;
    font-family: 'Bodoni Moda', serif;
    .location {
        padding-top: 50px;
        font-size: 18vw;
        text-transform: uppercase;
        font-family: 'Bodoni Moda', serif;
        opacity: 0;
        &.is-reveal {
            opacity: 1;
        }
    }
}