.footer {
    text-align:center;
    padding-bottom: 200px;
    font-family: 'Bodoni Moda', serif;
    .location {
        font-size: 18vw;
        text-transform: uppercase;
        font-family: 'Bodoni Moda', serif;
        opacity: 0.2em 0;
        &.is-reveal {
            opacity: 1;
        }
    }
}